<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
</head>
<body>
    <table>
        <tr th:each="element : ${links}">
            <td>
                <span class="iconify" data-icon="akar-icons:link-chain"></span>
                <a th:href="@{${element.key}}" th:text="${element.value}" />
            </td>
        </tr>
    </table>

</body>
</html>